<!DOCTYPE html>
<html lang="zxx">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Hệ thống AI dự đoán điểm HSA</title>
    <link type="image/png" sizes="96x96" rel="icon" href="{{ url_for('static', filename='images/icons8-ai-96.png') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendors/css/vendors.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendors/css/select2.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendors/css/select2-theme.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendors/css/datepicker.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/theme.min.css') }}" />
    <style>
      /* *:not(i){
            font-family: sans-serif !important;
        } */
    </style>
  </head>
  <body>
    <nav class="nxl-navigation">
      <div class="navbar-wrapper">
        <div class="m-header">
          <a href="/" class="b-brand">
            <img src="" alt="" class="logo logo-lg" />
            <img src="" alt="" class="logo logo-sm" />
          </a>
        </div>
        <div class="navbar-content">
          <ul class="nxl-navbar">
            <li class="nxl-item nxl-caption">
              <label>Danh sách chức năng</label>
            </li>
            <li class="nxl-item">
              <a href="/predict" class="nxl-link">
                <span class="nxl-micon">
                  <i class="feather-cpu"></i>
                </span>
                <span class="nxl-mtext">Dự đoán điểm thi HSA</span>
              </a>
            </li>
            <li class="nxl-item">
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!--! ================================================================ !-->
    <!--! [End]  Navigation Manu !-->
    <!--! ================================================================ !-->
    <!--! ================================================================ !-->
    <!--! [Start] Header !-->
    <!--! ================================================================ !-->
    <header class="nxl-header">
      <div class="header-wrapper">
        <!--! [Start] Header Left !-->
        <div class="header-left d-flex align-items-center gap-4">
          <!--! [Start] nxl-head-mobile-toggler !-->
          <a href="javascript:void(0);" class="nxl-head-mobile-toggler" id="mobile-collapse">
            <div class="hamburger hamburger--arrowturn">
              <div class="hamburger-box">
                <div class="hamburger-inner"></div>
              </div>
            </div>
          </a>
          <!--! [Start] nxl-head-mobile-toggler !-->
          <!--! [Start] nxl-navigation-toggle !-->
          <div class="nxl-navigation-toggle">
            <span href="javascript:void(0);" id="menu-mini-button ">
              <h4>Hệ thống AI dự đoán điểm HSA </h4>
            </span>
            <a href="javascript:void(0);" id="menu-expend-button" style="display: none">
              <i class="feather-arrow-right"></i>
            </a>
          </div>
          <!--! [End] nxl-navigation-toggle !-->
        </div>
        <!--! [End] Header Left !-->
        <!--! [Start] Header Right !-->
        <div class="header-right ms-auto">
          <div class="d-flex align-items-center">
            <div class="dropdown nxl-h-item">
              <a href="javascript:void(0);" data-bs-toggle="dropdown" role="button" data-bs-auto-close="outside">
                <img src="{{ url_for('static', filename='images/logo-dnu.png') }}" alt="user-image" class="img-fluid user-avtar me-0" />
              </a>
            </div>
          </div>
        </div>
        <!--! [End] Header Right !-->
      </div>
    </header>
    <!--! ================================================================ !-->
    <!--! [End] Header !-->
    <!--! ================================================================ !-->
    <!--! ================================================================ !-->
    <!--! [Start] Main Content !-->
    <!--! ================================================================ !-->
    <main class="nxl-container">
      {% block content %}{% endblock %}
      <!-- [ Footer ] start -->
      <footer class="footer">
        <p class="fs-11 text-muted fw-medium text-uppercase mb-0 copyright">
          <span>Copyright ©</span>
          <script>
            document.write(new Date().getFullYear());
          </script>
        </p>
        <div class="d-flex align-items-center gap-4">
          <a href="https://www.facebook.com/hiepdnguyn" target="_blank" class="fs-11 fw-semibold text-uppercase">Nguyen Duc Hiep</a>
        </div>
      </footer>
      <!-- [ Footer ] end -->
    </main>
    <!--! ================================================================ !-->
    <!--! [End] Main Content !-->
    <!--! ================================================================ !-->
    <!--! ================================================================ !-->
    <!--! Footer Script !-->
    <!--! ================================================================ !-->
    <!--! BEGIN: Vendors JS !-->
    <script src="{{ url_for('static', filename='vendors/js/vendors.min.js') }}"></script>
    <!-- vendors.min.js {always must need to be top} -->
    <!--! END: Vendors JS !-->
  </body>
</html>